<%= form_for(@business_result) do |f| %>
  <% if @business_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_result.errors.count, "error") %> prohibited this business_result from being saved:</h2>

      <ul>
      <% @business_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :system_name %><br>
    <%= f.text_field :system_name %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
