<h1>Listing newses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @newses.each do |newse| %>
      <tr>
        <td><%= newse.title %></td>
        <td><%= newse.content %></td>
        <td><%= link_to 'Show', newse %></td>
        <td><%= link_to 'Edit', edit_newse_path(newse) %></td>
        <td><%= link_to 'Destroy', newse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newse', new_newse_path %>
