<div class="container">
  <h1>Listing newses</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Publisher</th>
      <th>Published</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @newses.each do |news| %>
        <tr>
          <td><%= news.title %></td>
          <td><%= news.content %></td>
          <td><%= news.publisher %></td>
          <td><%= news.published %></td>
          <td><%= link_to 'Show', news %></td>
          <td><%= link_to 'Edit', edit_news_path(news) %></td>
          <td><%= link_to 'Delete', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <div style="padding: 0 15px 15px 15px">
    <%= link_to 'New News', new_news_path, class: "btn btn-default" %>
  </div>
</div>
