
<% content_for :head do %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false", "data-turbolinks-track" => true %>
    <script>
      var myCenter=new google.maps.LatLng(35.698231, 139.827589);

      function initialize()
      {
        var mapProp = {
          center:myCenter,
          zoom:17,
          mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

        var marker=new google.maps.Marker({
          position:myCenter,
        });

        marker.setMap(map);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<% end %>

<!--CONTACT SECTION -->
<div id="contact-section">
  <div class="container">
    <div class="row main-top-margin text-center">
      <div class="col-md-8 col-md-offset-2 "><h1>お問合せ</h1></div>
    </div>
    <!-- ./ Main Heading-->
    <div class="row main-low-margin">
      <div class="col-md-12  col-sm-12 ">
        <div class="col-md-6  ">
          <h3> アクセス</h3>
          <p>
            東京都<br/>
            江東区亀戸5-6-21<br/>
            UIW8 BLDG.4F-8 <br/>
            Call: 090-9833-9292 <br/>
            Email: ri_haku@benegrouper.co.jp<br/>
          </p>
        </div>
        <div class="col-md-6  ">
          <h3>リクエストを送信</h3>
          <%= form_for(@contact) do |f| %>
              <div class="row">
                <div class="col-md-6 ">
                  <div class="form-group">
                    <%= f.text_field :name, class: "form-control", required: "required", placeholder: "Name" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.text_field :email, class: "form-control", required: "required", placeholder: "Email address" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 ">
                  <div class="form-group">
                    <%= f.text_field :subject, class: "form-control", required: "required", placeholder: "Subject" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <div class="form-group">
                    <%= f.text_area :message, class: "form-control", required: "required", placeholder: "Message" %>
                  </div>
                  <div class="form-group">
                    <%= f.submit '送信する', class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END CONTACT SECTION -->

<br>
<div align="center"><div id="googleMap" style="width:1120px;height:360px;"></div></div>
<br>
<br>
<br>
<br>
