<h1>Listing newsinfos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Publisher</th>
      <th>Published</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @newsinfos.each do |newsinfo| %>
      <tr>
        <td><%= newsinfo.title %></td>
        <td><%= newsinfo.content %></td>
        <td><%= newsinfo.publisher %></td>
        <td><%= newsinfo.published %></td>
        <td><%= link_to 'Show', newsinfo %></td>
        <td><%= link_to 'Edit', edit_newsinfo_path(newsinfo) %></td>
        <td><%= link_to 'Destroy', newsinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsinfo', new_newsinfo_path %>
