<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @business_description.field %>
</p>

<p>
  <strong>Programming language:</strong>
  <%= @business_description.programming_language %>
</p>

<p>
  <strong>Business:</strong>
  <%= @business_description.business %>
</p>

<%= link_to 'Edit', edit_business_description_path(@business_description) %> |
<%= link_to 'Back', business_descriptions_path %>
