<h1>Listing recruits</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Place</th>
      <th>Recruitment</th>
      <th>Salary</th>
      <th>Increase</th>
      <th>Application</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recruits.each do |recruit| %>
      <tr>
        <td><%= recruit.job %></td>
        <td><%= recruit.place %></td>
        <td><%= recruit.recruitment %></td>
        <td><%= recruit.salary %></td>
        <td><%= recruit.increase %></td>
        <td><%= recruit.application %></td>
        <td><%= link_to 'Show', recruit %></td>
        <td><%= link_to 'Edit', edit_recruit_path(recruit) %></td>
        <td><%= link_to 'Destroy', recruit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recruit', new_recruit_path %>
